* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body{
      text-align: center;
      padding: 0 5%;
      background-color: antiquewhite;
  }
  p{
      text-align: justify;
      padding: 8px;
  }
  h1{
    padding: 20px;
  }
  h3{
      padding: 10px;
  }
  hr{
      margin: 10px 3%;
  }
  #cv{
    display: -webkit-flex;
    display: flex;
  }
  #educacion, #expLaboral, #skills{
      text-align: left;
  }
  #fotoPerfil{
      width: 150px;
  }
  table{
      background-color: blanchedalmond;
  }
  #hobbies td{
      border: 1px solid black;
  }
  #henry h3{
    font-size: 20px;
    text-decoration: underline;
  }
  #pHenry{
      padding: 15px 0;
  }